/* .md-typeset img {
    cursor: zoom-in;
    max-width: 100%;
    height: auto;
}

.md-typeset img:active {
    cursor: zoom-out;
    transform: scale(2);
    transition: transform 0.2s ease-in-out;
} */

.md-typeset img {
    max-width: 100%;
    height: auto;
}
